@page "/"
@using System.Text.Json;
@using System.Text.RegularExpressions;
@using System.Web;
@using AIbert.Models;
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting;

@inject IWebAssemblyHostEnvironment env;
@inject HttpClient Http;

<PageTitle>AIbert</PageTitle>

<MudText Typo="Typo.h2">Chat with AIbert</MudText>

<MudGrid>
    <MudItem md="6" xs="12">
        <MudText Typo="Typo.h4">Settings</MudText>
        <p><MudTextField T="string" Label="System Prompt" Variant="Variant.Outlined" @bind-Value="systemPrompt" Lines="30" /></p>
        
        <p>
            <MudSlider @bind-Value="temperature" T="decimal" Min="0.0m" Max="2.0m" Step="0.1m" TickMarks="true" Color="Color.Primary">Temperature: @temperature.ToString()</MudSlider>
        </p>
        <p>
            <MudSlider @bind-Value="topP" T="decimal" Min="0.0m" Max="1.0m" Step="0.1m" TickMarks="true" Color="Color.Primary">Top P: @topP.ToString()</MudSlider>
        </p>

        @*<MudText Typo="Typo.h4">Example responses</MudText>
        <p><MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddExampleResponse">+ Add example response</MudButton></p>
        <ul>
            @foreach (var response in exampleResponses)
            {
                <li>
                    @((MarkupString)Regex.Replace(
                        HttpUtility.HtmlEncode(@response.question), "\r?\n|\r", "<br />"))
                    <br />
                    @((MarkupString)Regex.Replace(
                        HttpUtility.HtmlEncode(@response.answer), "\r?\n|\r", "<br />"))
                </li>
            }
        </ul>*@
        <p>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SaveSettings">Save settings</MudButton>
            @if (isSaving)
            {
                <MudText>Saving...</MudText>
            }
        </p>
    </MudItem>

    <MudItem md="6" xs="12">
        <MudText Typo="Typo.h4">Participants</MudText>
        <p>
            <MudTextField T="string" Label="From (You): Participant 1" Variant="Variant.Outlined" @bind-Value="sender" />
            <MudButton ButtonType="ButtonType.Button" Color="Color.Surface" Variant="Variant.Filled" OnClick="SwapParticipants">Swap</MudButton>
            <MudTextField T="string" Label="To: Participant 2" Variant="Variant.Outlined" @bind-Value="participant2" />
        </p>

        <MudText Typo="Typo.h4">Your Message</MudText>
        <p>
            <MudTextField T="string" Label="Ask something..." @bind-Value="prompt" Variant="Variant.Outlined" Lines="3" />
        </p>
        <p><i>Note: AIbert will not respond back for at lesat 15 seconds (pre-programmed delay) unless specifically asked something.</i></p>
        <p>
            <MudButtonGroup OverrideStyles="false" VerticalAlign="true">
                <MudButtonGroup OverrideStyles="false">
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.PostAdd" OnClick="AddChat">Add chat</MudButton>
                    <MudButton Color="Color.Secondary" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Clear" IconColor="Color.Warning" OnClick="ClearChat">Clear chat</MudButton>
                </MudButtonGroup>
                <MudButton Color="Color.Primary" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Upload" IconColor="Color.Primary" OnClick="SubmitChat">Upload chat</MudButton>
            </MudButtonGroup>
        </p>

        <p>
            <MudButton Color="Color.Success" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Success" OnClick="AddScenario1">Scenario 1 chats</MudButton>
        </p>

        @if (isSending)
        {
            <p>
                <MudText>Sending...</MudText>
                <br />
            </p>
        }

        <div class="promises">
        <MudText Typo="Typo.h5">Promises</MudText>
        @if (promises.Count == 0)
        {
            <p><i>No promises</i></p>
        }
        else
        {
            <ol>
            @foreach (var promise in promises)
            {
                <li>@JsonSerializer.Serialize(promise)</li>
            }
            </ol>
            <MudButton StartIcon="@Icons.Material.Filled.Clear" IconColor="Color.Warning" Variant="Variant.Outlined" OnClick="ClearPromises">Clear promises</MudButton>
        }
        </div>

        <MudText Typo="Typo.h4">Thread</MudText>
        @foreach (var chat in chatHistory)
        {
            var chatParts = chat.Split("::");
            <p class="chat @((chat.Contains("AIbert:") ? "chat--aibert" : ""))">
                <span class="chat--person">@chatParts[0]</span>: @((MarkupString)Regex.Replace(
                    HttpUtility.HtmlEncode(@chatParts[1]), "\r?\n|\r", "<br />"))
            </p>
        }

    </MudItem>
</MudGrid>

@code {
    private string prompt = string.Empty;
    private string sender = string.Empty;
    private string participant2 = string.Empty;
    private string systemPrompt = string.Empty;
    private decimal temperature = 0.0m;
    private decimal topP = 0.0m;
    private bool isSaving = true;
    private bool isSending = false;

    private const string baseUrl = "http://localhost:7143/api/"; //

    private List<(string question, string answer)> exampleResponses = new();
    private List<string> chatHistory = new();
    private List<Promise> promises = new();

    protected override async Task OnInitializedAsync()
    {
        await GetSettings();

        var timer = new System.Threading.Timer(async _ =>
        {
            await GetChat();
            StateHasChanged();
        }, null, 0, 5000);
        await GetChat();

        base.OnInitialized();
    }

    private void AddExampleResponse()
    {

    }

    private void SwapParticipants()
    {
        var temp = sender;
        sender = participant2;
        participant2 = temp;
    }

    private async Task GetSettings()
    {
        try
        {
            var res = await Http.GetFromJsonAsync<Settings>($"{baseUrl}Settings");
            systemPrompt = res?.SystemPrompt ?? string.Empty;
            topP = res?.TopP ?? 0.0m;
            temperature = res?.Temperature ?? 0.0m;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
        finally
        {
            isSaving = false;
        }
    }

    private async Task SaveSettings()
    {
        Settings settings = new(systemPrompt, topP, temperature);

        isSaving = true;

        try
        {
            var options = new JsonSerializerOptions();
            options.PropertyNamingPolicy = null;
            using var res = await Http.PutAsJsonAsync($"{baseUrl}Settings", settings, options);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
        finally
        {
            isSaving = false;
        }
    }

    private void AddChat()
    {
        if (prompt.Length == 0) return;
        var date = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");
        chatHistory.Add($"{date} {sender}:: {prompt}");
        prompt = string.Empty;
    }

    private async Task SubmitChat()
    {
        AddChat();

        ChatInput input = new(chatHistory);

        isSending = true;

        try
        {
            using var res = await Http.PostAsJsonAsync($"{baseUrl}Chat", input);
            prompt = string.Empty;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
        finally
        {
            isSending = false;
        }
    }

    private async Task GetChat()
    {
        isSending = true;

        try
        {
            var res = await Http.GetStringAsync($"{baseUrl}Chat");
            var chatRes = JsonSerializer.Deserialize<ChatResponse>(res);
            chatHistory = chatRes?.thread ?? new();
            promises = chatRes?.promises ?? new();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
        finally
        {
            isSending = false;
        }
    }

    private async Task ClearChat()
    {
        try
        {
            using var res = await Http.DeleteAsync($"{baseUrl}Chat");
            chatHistory.Clear();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private async Task ClearPromises()
    {
        try
        {
            using var res = await Http.DeleteAsync($"{baseUrl}Promise");
            promises.Clear();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private void AddScenario1()
    {
        var date = DateTime.Now.AddMinutes(-45);
        chatHistory.Add($"{date.ToString("yyyy-MM-dd HH:mm:ss")} Nick:: Hey, how are you doing?");
        chatHistory.Add($"{date.AddMinutes(5).ToString("yyyy-MM-dd HH:mm:ss")} Brian:: good, you?");
        chatHistory.Add($"{date.AddMinutes(10).ToString("yyyy-MM-dd HH:mm:ss")} Nick:: Can you get me that report tomorrow?");
        chatHistory.Add($"{date.AddMinutes(15).ToString("yyyy-MM-dd HH:mm:ss")} Brian:: Sure, what time?");
        chatHistory.Add($"{date.AddMinutes(20).ToString("yyyy-MM-dd HH:mm:ss")} Nick:: around 9pm");
        chatHistory.Add($"{date.AddMinutes(25).ToString("yyyy-MM-dd HH:mm:ss")} Brian:: sounds good");
    }
}
